<!-- Modal -->
<div
  class="modal fade"
  id="create-project-modal"
  tabindex="-1"
  aria-labelledby="create-project-modal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content border-bottom-primary">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLabel">
          Create new project
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <!-- <pre>{{ createProjectForm.value | json }}</pre> -->

        <form
          (ngSubmit)="onSubmit(createProjectForm)"
          #createProjectForm="ngForm"
          id="create-project-form"
        >
          <div class="form-group">
            <label for="create-project-input-name" class="font-weight-bold"
              >Project name
              <span class="font-weight-bold text-danger">*</span></label
            >
            <input
              type="text"
              [(ngModel)]="model.name"
              name="name"
              #name="ngModel"
              class="form-control"
              [ngClass]="name.valid || name.pristine ? '' : 'is-invalid'"
              id="create-project-input-name"
              required
            />
            <div
              [hidden]="name.valid || name.pristine"
              class="invalid-feedback"
            >
              The project name is required
            </div>
          </div>

          <div class="form-group">
            <label for="create-project-input-description">Description</label>
            <textarea
              [(ngModel)]="model.description"
              name="description"
              class="form-control"
              id="create-project-input-description"
              rows="3"
            ></textarea>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="create-project-input-tickets-prefix"
                >Tickets prefix
                <span class="font-weight-bold text-danger">*</span>
              </label>
              <input
                type="text"
                [(ngModel)]="model.ticketsPrefix"
                name="ticketsPrefix"
                #ticketsPrefix="ngModel"
                class="form-control"
                [ngClass]="
                  ticketsPrefix.valid || ticketsPrefix.pristine
                    ? ''
                    : 'is-invalid'
                "
                id="create-project-input-tickets-prefix"
                required
              />
              <div
                [hidden]="ticketsPrefix.valid || ticketsPrefix.pristine"
                class="invalid-feedback"
              >
                The tickets prefix is required
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="create-project-input-owner"
                >Owner
                <span class="font-weight-bold text-danger">*</span></label
              >
              <input
                type="text"
                [(ngModel)]="model.ownerId"
                name="ownerId"
                #ownerId="ngModel"
                class="form-control"
                [ngClass]="
                  ownerId.valid || ownerId.pristine ? '' : 'is-invalid'
                "
                id="create-project-input-owner"
                required
              />
              <div
                [hidden]="ownerId.valid || ownerId.pristine"
                class="invalid-feedback"
              >
                The owner is required
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="create-project-input-start-date">Start date</label>
              <input
                type="date"
                [(ngModel)]="model.startDate"
                name="startDate"
                class="form-control"
                id="create-project-input-start-date"
              />
            </div>

            <div class="form-group col-md-6">
              <label for="create-project-input-completion-date"
                >Completion date</label
              >
              <input
                type="date"
                [(ngModel)]="model.completionDate"
                name="completionDate"
                class="form-control"
                id="create-project-input-completion-date"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="create-project-input-group">Group</label>
            <select
              [(ngModel)]="model.groupId"
              name="groupId"
              id="create-project-input-group"
              class="form-control"
            >
              <option value="" selected>Select group...</option>
              <option [value]="group.id" *ngFor="let group of groupsList">
                {{ group.name }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="create-project-input-state"
              >State <span class="font-weight-bold text-danger">*</span></label
            >
            <select
              [(ngModel)]="model.stateId"
              name="stateId"
              #stateId="ngModel"
              id="create-project-input-state"
              class="form-control"
              [ngClass]="stateId.valid || stateId.pristine ? '' : 'is-invalid'"
              required
            >
              <option value="" selected>Select project state...</option>
              <option
                [value]="projectState.id"
                *ngFor="let projectState of projectStatesList"
              >
                {{ projectState.name }}
              </option>
            </select>
            <div
              [hidden]="stateId.valid || stateId.pristine"
              class="invalid-feedback"
            >
              The state is required
            </div>
          </div>

          <div class="form-group">
            <label for="create-project-input-tags">Tags</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-tags"></i></div>
              </div>
              <input
                type="text"
                [(ngModel)]="model.assignedTagsId"
                name="assignedTagsId"
                class="form-control"
                id="create-project-input-tags"
                placeholder="Add a tag..."
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          #closeModalButton
          type="button"
          class="btn btn-outline-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          type="submit"
          form="create-project-form"
          class="btn btn-primary"
        >
          <ng-container *ngIf="isLoading; else createButtonText">
            <div
              class="spinner-border spinner-border-sm text-white d-flex align-items-center"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </ng-container>

          <ng-template #createButtonText>
            <i class="fas fa-plus"></i> Create
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</div>
