<!-- Modal -->
<div
  class="modal fade"
  id="create-project-modal"
  tabindex="-1"
  aria-labelledby="create-project-modal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content border-bottom-primary">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLabel">
          Create new project
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <form id="create-project-form" action="#" method="post">
          <div class="form-group">
            <label for="create-project-input-name" class="font-weight-bold"
              >Project name</label
            >
            <input
              type="text"
              class="form-control"
              id="create-project-input-name"
            />
          </div>
          <div class="form-group">
            <label for="create-project-input-description">Description</label>
            <textarea
              class="form-control"
              id="create-project-input-description"
              rows="3"
            ></textarea>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="create-project-input-tickets-prefix"
                >Tickets prefix</label
              >
              <input
                type="text"
                class="form-control"
                id="create-project-input-tickets-prefix"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="create-project-input-owner">Owner</label>
              <input
                type="text"
                class="form-control"
                id="create-project-input-owner"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="create-project-input-start-date">Start date</label>
              <input
                type="date"
                class="form-control"
                id="create-project-input-start-date"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="create-project-input-completion-date"
                >Completion date</label
              >
              <input
                type="date"
                class="form-control"
                id="create-project-input-completion-date"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="create-project-input-group">Group</label>
            <select id="create-project-input-group" class="form-control">
              <option selected>Select group...</option>
              <option>Group 1</option>
              <option>Group 2</option>
              <option>Group 3</option>
            </select>
          </div>
          <div class="form-group">
            <label for="create-project-input-state">State</label>
            <select id="create-project-input-state" class="form-control">
              <option selected>Select project state...</option>
              <option>Project state 1</option>
              <option>Project state 2</option>
              <option>Project state 3</option>
            </select>
          </div>
          <div class="form-group">
            <label for="create-project-input-tags">Tags</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-tags"></i></div>
              </div>
              <input
                type="text"
                class="form-control"
                id="create-project-input-tags"
                placeholder="Add a tag..."
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-plus"></i> Create
        </button>
      </div>
    </div>
  </div>
</div>
