<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project Name</th>
      <th scope="col">Tickets prefix</th>
      <th scope="col">Owner</th>
      <th scope="col">State</th>
      <th scope="col">Start date</th>
      <th scope="col">Completion date</th>
      <th scope="col">Group</th>
      <th scope="col">Tags</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projectsList; let position = index">
      <th scope="row">{{ position + 1 }}</th>
      <th class="text-primary">
        <a href="#">{{ project.name }}</a>
      </th>
      <td>{{ project.ticketsPrefix }}</td>
      <td>{{ project.ownerId }}</td>
      <td>
        <span
          class="badge badge-pill text-white py-2 px-3"
          [style.background-color]="project.state.colorHexCode"
          >{{ project.state.name }}
        </span>
      </td>
      <td>
        <i class="far fa-calendar"></i> {{ project.startDate | date }}
        <ng-container *ngIf="!project.startDate">
          <span class="no-date-badge">No date</span>
        </ng-container>
      </td>
      <td>
        <i class="far fa-calendar"></i> {{ project.completionDate | date }}
        <ng-container *ngIf="!project.completionDate">
          <span class="no-date-badge">No date</span>
        </ng-container>
      </td>
      <td>
        {{ project.group.name }}
        <ng-container *ngIf="!project.group">
          <span class="no-date-badge">No group</span>
        </ng-container>
      </td>
      <td>
        <span *ngFor="let tag of project.assignedTags">
          <span
            class="badge text-white py-2 px-3"
            [style.background-color]="tag.colorHexCode"
            >{{ tag.name }}
          </span>
        </span>
        <ng-container *ngIf="project.assignedTags.length === 0">
          <span class="no-tags-badge">No tags</span>
        </ng-container>
      </td>
      <td class="dropdown text-center">
        <button
          class="btn"
          type="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-ellipsis-v"></i>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item text-muted" (click)="editProject(project.id)"
            ><i class="fas fa-pen"></i> Edit</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item text-danger"
            (click)="deleteProject(project.id)"
            ><i class="fas fa-trash"></i> Delete</a
          >
        </div>
      </td>
    </tr>
  </tbody>
</table>
